name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Get changes from Git
      uses: actions/checkout@v6
    - name: Set up JDK 8
      uses: actions/setup-java@v5
      with:
        distribution: 'adopt'
        java-version: 21
    - name: Set up Scala and SBT
      uses: sbt/setup-sbt@v1     
    - name: Run tests
      run: sbt clean test
